[Desktop Entry]
Type=Application
Name=Memory Express Setup
Name[fr]=Configuration Memory Express
Exec=/usr/bin/env PYTHONPATH=/opt/memex-linux-installer/src /usr/bin/python3 -m memex_completer.gui
Terminal=false
OnlyShowIn=KDE;
X-KDE-autostart-after=panel
